<div class="container mt-5">
  <div class="row" *ngIf="recommendedProductTypes">
    <div class="col-12">
      <h2>Our recommended {{setRecommendedProductTypeNames()}} to match this shirt</h2>
    </div>
  </div>
  <div class="row" *ngIf="product">
    <div class="col-6">
      <img src="assets/images/{{product.imageFile}}" alt="{{product.name}}" class="img-fluid w-100">
      <h2>{{ product.name }}</h2>
    </div>
    <div class="col-6">
      <div class="col-12 mb-4" *ngFor="let item of recommendedProductTypes">
        <product-carousels [productType]="item"></product-carousels>
      </div>
    </div>
    <div class="row">
        <div class="col-12 ml-3">
            <h4>Description</h4>
            <p>{{product.description}}</p>
        </div>
    </div>
  </div>
</div>