<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-6 col-md">
          <h5>Idea & Influence</h5>
          <ul class="list-unstyled text-small justify-center">
            <li><a class="text-muted" target="_blank">Image credits goes to HawesAndCurtis</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Server Side Technologies</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted">.Net Core</a></li>
            <li><a class="text-muted">Generic Repository Patterns</a></li>
            <li><a class="text-muted">Unit of Work Pattern</a></li>
            <li><a class="text-muted">Specification Pattern</a></li>
            <li><a class="text-muted">Sqlite during devlopment</a></li>
            <li><a class="text-muted">Swagger</a></li>
            <li><a class="text-muted">Stripe Implementation</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Client Side Technologies</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted">Angular 9</a></li>
            <li><a class="text-muted">Bootstrap 4</a></li>
            <li><a class="text-muted">ngx-bootstrap</a></li>
            <li><a class="text-muted">Font Awesome</a></li>
            <li><a class="text-muted">Lazy Loading</a></li>
            <li><a class="text-muted">RXJS</a></li>
            <li><a class="text-muted">Design Components</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://www.linkedin.com/in/isaac-b-2a236420/" target="_blank">Isaac Baby</a></li>
            <li><a class="text-muted fa fa-github" href="https://github.com/klisaac" target="_blank"> GitHub</a> </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>